/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Home section  */
#home{
    height: 354px;
    padding: 3px 28px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Service section */
#services-container::before{
    height: 1429px;
}
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}


/* Client Section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 2px 6px;
    height: auto;
}

/* Contact Us section  */
#contact-box form{
    width: 80%;
}

/* Footer  */


/* Utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}