/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Varialbes */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* Navigation bar: logo and image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 61px;
    margin: 4px 4px;
    border-radius: 30px 30px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 543px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../image/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 150%;
} 

/* Services Section  */
#services-container::before{
    content: " ";
    position: absolute;
    background-color: rgb(163, 161, 161);
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#services{
    margin: 18px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 25px;
    margin: 3px 26px;
    border-radius: 23px;
    background-color: #eee7e7;
    margin-bottom: 20px;
    box-shadow: 0 0 6px brown;
}

#services .box img{
    height: 155px;
    margin: auto;
    display: block;
    border-radius: 100px 100px;
}

#services .box p{
    font-family: 'Open Sans', sans-serif;
}

/* Clients Section */
#client-section{
    position: relative;
    z-index: -2;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../image/bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 70px;
}

/* Contact Section  */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('../image/image.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: centre;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}
#contact-box button
{
    width:30%;
    height:30px;
    border:4px;
    background-color:darkblue;
    color: white;
    border-radius:3px;
    font-weight: bold;
    font-size:20px;
    margin-left: 30px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    opacity: 0.8;
}


/* utility class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
}

.btn{
    padding: 6px 20px ;
    border: 1px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid white;
}

.center{
    text-align: center;
}
form 
{
    text-align: center;
}
#login form
{
    width:500px;
    height:500px;
    border:2px;
    border-radius:25px;
    background-color:floralwhite;
    margin-left:500px;
    font-size:24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
form input[type="submit"],input[type="reset"]
{
    border-radius:15px;
    width:100px;
    height:30px;
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
